<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="grid-y align-center" style="height: 100%;">
        <div class="cell small-6 medium-4 large-3">
          <div class="modal-container grid-x rounded align-center">
            <div class="cell small-9">
              <h3 class="align-middle">
                <slot name="header">
                  default header
                </slot>
              </h3>
            </div>
            <div class="cell small-3 text-right">
              <a class="button hollow" @click="$emit('close')">Close</a>
            </div>
            <div class="small-2 cell">
              <h5 class="">Name</h5>
            </div>
            <div class="small-10 cell ">            
              <input class="" type="text">
            </div>
            <div class="small-2 cell">
              <h5 class="">Email</h5>
            </div>
            <div class="small-10 cell">
              <input class="" type="email">
            </div>
            <div class="cell small-12">
              <slot name="extra"></slot>
            </div>
            <div class="cell small-12">
              <button class="button hollow expanded" @click="$emit('close')">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </transition>
</template>
<script>
export default {
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-container {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

h5 {
  padding-top: 0.4rem;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.rounded {
  border-radius: 25px;
  border: 2px solid #8a8a8a;
}
</style>
