<template>
  <section class="container">
    <div class="grid-container fluid">
      <div class="grid-x grid-padding-y grid-padding-x align-middle">
        <div class="cell small-12 hide-for-medium">
          <transition name="dropdown">
            <div class="grid-x grid-padding-y">
              <div class="cell small-12 text-center">
                <h1 class="">Example LTD</h1>  
              </div>            
              <div class="cell small-12 text-center" :class="{'hide-for-small-only': showDropdown}">
                <a @click="showDropdown = true">
                  <img class="" src="angle-double-line-down.svg" alt="Expand menu" @click="showDropdown = true">
                </a>
              </div>
              <div class="cell small-12" :class="{'hide-for-small-only': !showDropdown}">
                <ul class="menu vertical align-middle">
                  <li><a href="#who">Who are we?</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#pricing">Pricing</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a @click="showNewsletter = true"  class="button large hollow">Sign up</a></li>
                </ul>
              </div>
              <div class="cell small-12 text-center" :class="{'hide-for-small-only': !showDropdown}">
                <a @click="showDropdown = false">
                  <img class="" src="angle-double-line.svg" alt="Minimise menu" >
                </a>              
              </div>   
            </div>
          </transition>         
        </div>
        <div class="cell small-12 medium-6 text-middle show-for-medium">
          <h1 class="text-left">Example LTD</h1>
        </div>
        <div class="cell small-12 medium-6 show-for-medium">
          <ul class="menu align-middle align-right">
            <li><a href="#who">Who are we?</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a @click="showNewsletter = true"  class="button large hollow">Sign up</a></li>
          </ul>
        </div>
        <div class="cell small-12 hero-section">
          <div class="hero-section-text">
            <h3 title="Photo by NASA">Are you thinking what I'm thinking?</h3>
            <h4><i>Always</i></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container" style="padding-top: 16px;">
      <div class="grid-x grid-padding-y grid-padding-x align-middle" id="who">        
        <div class="cell small-12 medium-6">
          <h1 class="text-left show-for-medium">Who are we?</h1>
          <h1 class="text-center hide-for-medium">Who are we?</h1>
          <p>We are the latest in a trend of SaaS providers offering you the next generation must have solutions. That problem in the back of your mind that has been bother you for days. We can solve it! With the latest in Machine learning and artificial intelligence we can make it a thing of the past. Look no further.</p> 
        </div>
        <div class="cell small-12 medium-6">
          <img class="thumbnail" src="img/stefan-stefancik-257625-w600.jpg" title="Photo By Stefan Stefancik" alt="">
        </div>
            
        <div class="cell small-12 medium-6 small-order-2 medium-order-1">
          <img class="thumbnail" src="img/kiwihug-393319-w600.jpg" title="Photo By Kiwihug" alt="">
        </div>
        <div class="cell small-12 medium-6 small-order-1 medium-order-2">
          <h1 class="text-left show-for-medium">Why are we?</h1>
          <h1 class="text-center hide-for-medium">Why are we?</h1>
          <p>The idea was found in a diary found in ancient ruins and was kept in storage until it would finally be made into reality. Technology has finally reached the stage where we can make this possible.</p> 
        </div>
        </div>
      
      <div class="grid-x grid-padding-y grid-padding-x">
        <div class="cell small-12 text-center" id="features">
          <h1>Features</h1>
        </div>
        <div class="cell small-12 medium-4 text-center">
          <img class="icons" src="cloud-line.svg" alt="">
          <p><br>Everything is in the cloud. You data will always available. We promise.</p>
        </div>
        <div class="cell small-12 medium-4 text-center">
          <img class="icons" src="lock-line.svg" alt="">
          <p><br>Cutting edge security. We use the latest in two factor authentication and force unusual password requirements on you.</p>
        </div>
        <div class="cell small-12 medium-4 text-center">
          <img class="icons" src="eye-hide-line.svg" alt="">
          <p><br>Only you can see your data. <br>
            <small>*Terms and conditions apply.</small>
          </p>
        </div>
      </div>
      <div class="grid-x grid-padding-y grid-padding-x">
        <div class="cell small-12" id="pricing">
          <h1 class="text-center">Pricing</h1>
          <p> Our pricing structure is so comprehensive that it covers every possible use case. Even ones you have never considered or thought could ever apply to you. We will have soo many nested categories and obscure hardware licensing that you will need to hire a specialist consultant to pull it apart. Even then the chance of them being correct is like threading a needle while riding a unicycle.</p>
        </div>
        <div class="cell small-12 medium-4">
          <div class="card">
            <div class="card-divider align-center">
              <h4>Basic</h4>
            </div>
            <div class="card-section text-center">
              <ul class="menu vertical">
                <li>1-5 users</li>
                <li>1-2 computers</li>
                <li>Random shutdowns</li>
                <li>Errors obfuscated</li>
                <li>No Support</li>
                <li>Stop being cheap</li>
              </ul>
              <h2>Free</h2>
              <a @click="showBasic = true" class="button large hollow">Sign up</a>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-4">
          <div class="card">
            <div class="card-divider align-center">
              <h4>Super User</h4>
            </div>
            <div class="card-section text-center">
              <ul class="menu vertical">
                <li>1-1000 Users</li>
                <li>1-50 CPU cores</li>
                <li>Reporting</li>
                <li>98% uptime</li>
                <li>Regular hours support</li>
                <li>You will become super</li>
              </ul>
              <h2>£50.00*</h2>
              <a @click="showSuper = true" class="button large hollow">Sign up</a>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-4">
          <div class="card">
            <div class="card-divider align-center">
              <h4>Enterprise</h4>
            </div>
            <div class="card-section text-center">
              <ul class="menu vertical">
                <li>1000+ Users</li>
                <li>24h Support</li>
                <li>Advanced Reporting</li>
                <li>99.9% uptime guarantee</li>
                <li>Virtualization Licensing</li>
                <li>CEO's Phone number</li>
              </ul>
              <h2>Quote</h2>
              <a @click="showEnterprise = true"  class="button large hollow">Request Quote</a>
            </div>
          </div>
        </div>
        <div class="cell small-12 text-center">
          <small>*Terms and conditions apply. Minimum 10 users otherwise £100 each.</small>
        </div>
      </div>
      <div class="grid-x grid-padding-y grid-padding-x align-middle">
        <div class="cell small-12 medium-6" id="final">
          <h1 class="text-left show-for-medium">Final thoughts</h1>
          <h1 class="text-center hide-for-medium">Final thoughts</h1>
          <p>Remember to like, share and post to your social media!</p><p> Our CEO would like a new third home but is not sure if he needs it. Let's make sure they have enough cash for an impulse purchase!</p>
        </div>
        <div class="cell small-12 medium-6">
          <img class="thumbnail" src="img/ashley-knedler-74533-w600.jpg" title="Photo by Ashley Knedler" alt="">
        </div>
      </div>
      <hr>
      <div class="grid-x align-center text-center grid-padding-y grid-margin-y">
        <div class="cell small-12 medium-6 large-3">          
          <h3>Company</h3>
          <ul class="menu vertical">
            <li>Example LTD</li>
            <li>Terms and conditions reserved</li>
            <li>VAT number: 123456789</li>
          </ul>
        </div>
        <div class="cell small-12 medium-6 large-3">
          <h3>Offices</h3>
          <ul class="menu vertical">
            <li>
              <a href="#offices">London</a>
            </li>
            <li>
              <a href="#offices">New York</a>
            </li>
            <li>
              <a href="#offices">Singapore</a>
            </li>
          </ul>
        </div>
        <div class="cell small-12 medium-6 large-3" id="contact">
          <h3 class="">Contact Us</h3>
          <ul class="menu vertical">
            <li>
              <a href="mailto:sales@example.com">sales@example.com</a>
            </li>
            <li>
              <a href="mailto:media@example.com">media@example.com</a>
            </li>
            <li>
              <a @click="showContact = true" >Online form</a>
            </li>
          </ul>
        </div>
        <div class="cell small-12 medium-6 large-3" id="contact">
          <h3>Navigation</h3>         
          <ul class="menu vertical">
             <li>
              <a href="#who">Who are we?</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="#pricing">Pricing</a>
            </li>
            <li>
              <a href="#">Site Map</a>              
            </li>
          </ul>
        </div>
      </div>
    </div>    
    <Modal v-if="showBasic" @close="showBasic = false">
       <div slot="header">Basic</div>
    </Modal>
    <Modal v-if="showSuper" @close="showSuper = false">
       <div slot="header">Super User</div>
    </Modal>
    <Modal v-if="showEnterprise" @close="showEnterprise = false">
       <div slot="header">Enterprise</div>
    </Modal>
    <Modal v-if="showContact" @close="showContact = false">
       <div slot="header">Contact Us</div>
       <div slot="extra">
          <textarea placeholder="What would you like?"></textarea>
      </div>
    </Modal>
    <Modal v-if="showNewsletter" @close="showNewsletter = false">
       <div slot="header">Newsletter</div>
    </Modal>
  </section>
</template>

<script>
import Modal from '~/components/Modal.vue'
export default {
  components: {
    Modal
  },
  data: () => ({
    showBasic: false,
    showSuper: false,
    showEnterprise: false,
    showContact: false,
    showNewsletter: false,
    showDropdown: false,
    showCompanyDrop: false
  })
}
</script>

<style lang="scss">
$hero-height: 50vh;

.hero-section {
  background: url('~/static/img/nasa-53884-w2160.jpg') 100% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
  }
}

.spacing {
  height: $hero-height;
}

.icons {
  height: 10rem;
}

.rounded {
  border-radius: 25px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="dropdown" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.dropdown-enter {
  opacity: 0;
}

.dropdown-leave-active {
  opacity: 0;
}

</style>
